

.glass {
position: relative;
        top: -133px;
    left: 460px;

}

.hat {
 position: relative;
    top: -197px;
    left: 264px;
  
}

.octo {
  
 margin: center;
 margin-top: 190px;
    

  /*top: 166px;
  left: 314px;*/
  
 
}

